.voltmxfw_baseskincss,
.CopyButtonLinkFocusSkin,
.CopyButtonLinkNormalSkin,
.CopyButtonSkinActive,
.CopyButtonSkinNormal,
.CopydefBtnNormal0f39bde99a20241,
.defBtnBlockedUI,
.defBtnFocus,
.defBtnHover,
.defBtnNormal,
.defBtnPressed,
.CopyCopyCopydefLabel2,
.CopyCopyCopydefLabel3,
.CopyCopyCopydefLabel4,
.CopyLBL0e133e7b084af41,
.CopyLBLTOPSHADOW,
.CopydefLabel0a382f367ee2348,
.CopydefLabel0cb9afd4fdfd945,
.CopydefLabel0d2b49bb6d7684c,
.CopydefLabel0e55278f7cf484c,
.CopydefLabel0f90d11af49bd43,
.CopydefLabel0h1461925391e41,
.CopydefLabel0i61eb005354140,
.CopydefLabel0jd69d0846deb4a,
.CopydefLabel0jfc9d6fab51840,
.LabelRequired,
.RequiredLabel,
.defDataPanelLabelNormalDW,
.defDataPanelWelcomeLblDW,
.defLabel,
.sknLblDescription,
.sknLblRowHeading,
.sknLblStrip,
.sknLblTimeStamp,
.sknSectionHeaderLabelSkin,
.CopyCopydefTextBoxFocus,
.CopyTXT,
.CopyTXT1,
.CopydefTextBoxNormal0c2b422059f1746,
.defTextBoxBlockedUI,
.defTextBoxFocus,
.defTextBoxNormal,
.defTextBoxPlaceholder,
.CopyFLXSHADOW,
.slForm,
.slSplashiOS,
.slWatchForm,
.defTextAreaBlockedUI,
.defTextAreaHover,
.slCalendar,
.slCameraFocus {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    color: #000000;
    border: none;
    background: transparent;
}

.voltmxcustomcss {
    font-size: 16px;

}





.CopyButtonLinkFocusSkin,
[kw].CopyButtonLinkFocusSkin-hover,
[kw].CopyButtonLinkFocusSkin-focus,
[kw].CopyButtonLinkFocusSkin-active {













































    font: normal normal 14.1px Helvetica;





    color: #6fa0f4;












    background: rgba(255, 255, 255, 0.0);


















}





















.CopyButtonLinkNormalSkin,
[kw].CopyButtonLinkNormalSkin-hover,
[kw].CopyButtonLinkNormalSkin-focus,
[kw].CopyButtonLinkNormalSkin-active {













































    font: normal normal 14.1px Helvetica;





    color: #4d83f3;












    background: rgba(255, 255, 255, 0.0);


















}





















.CopyButtonSkinActive,
[kw].CopyButtonSkinActive-hover,
[kw].CopyButtonSkinActive-focus,
[kw].CopyButtonSkinActive-active {

















































    border: 1px solid #6fa0f4;



    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;















    font: normal normal 14.1px Helvetica;





    color: #ffffff;












    background: #6fa0f4;













    cursor: auto !important;








}





















.CopyButtonSkinNormal,
[kw].CopyButtonSkinNormal-hover,
[kw].CopyButtonSkinNormal-focus,
[kw].CopyButtonSkinNormal-active {

















































    border: 1px solid #4b88f1;



    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;















    font: normal normal 14.1px Helvetica;





    color: #ffffff;












    background: #4d83f3;


















}





















.CopyCopyCopydefLabel2,
[kw].CopyCopyCopydefLabel2-hover,
[kw].CopyCopyCopydefLabel2-focus,
[kw].CopyCopyCopydefLabel2-active {













































    font: normal normal 32.0px Helvetica;





    color: #333333;












    background: linear-gradient(to top, rgba(0, 0, 255, 0.0) 0%, rgba(204, 204, 204, 0.5) 48%, #cccccc 97%);
















}





















.CopyCopyCopydefLabel3,
[kw].CopyCopyCopydefLabel3-hover,
[kw].CopyCopyCopydefLabel3-focus,
[kw].CopyCopyCopydefLabel3-active {

















    font: normal normal 14.1px Helvetica;





    color: #333333;












    background-color: rgba(0, 0, 0, 0.0);











}





















.CopyCopyCopydefLabel4,
[kw].CopyCopyCopydefLabel4-hover,
[kw].CopyCopyCopydefLabel4-focus,
[kw].CopyCopyCopydefLabel4-active {













































    font: normal normal 32.0px Helvetica;





    color: #333333;












    background: linear-gradient(to left, rgba(0, 0, 255, 0.0) 0%, rgba(204, 204, 204, 0.5) 48%, #cccccc 97%);
















}





















.CopyCopydefTextBoxFocus,
[kw].CopyCopydefTextBoxFocus-hover,
[kw].CopyCopydefTextBoxFocus-focus,
[kw].CopyCopydefTextBoxFocus-active {










    border: 1px solid rgba(51, 51, 51, 0.4);




    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
















    font: normal normal 14.1px Helvetica;





    color: #333333;













    background-color: #ffffff;









    -webkit-appearance: none;



}

















input[kplaceholderskin='CopyCopydefTextBoxFocus']::-webkit-input-placeholder {









    border: 1px solid rgba(51, 51, 51, 0.4);




    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;















    font: normal normal 14.1px Helvetica;





    color: #333333;










    background-color: #ffffff;






    -webkit-appearance: none;

}


input[kplaceholderskin='CopyCopydefTextBoxFocus']::-moz-placeholder {









    border: 1px solid rgba(51, 51, 51, 0.4);




    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;















    font: normal normal 14.1px Helvetica;





    color: #333333;










    background-color: #ffffff;






    -webkit-appearance: none;

}


input[kplaceholderskin='CopyCopydefTextBoxFocus']:-ms-input-placeholder {









    border: 1px solid rgba(51, 51, 51, 0.4);




    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;















    font: normal normal 14.1px Helvetica;





    color: #333333;










    background-color: #ffffff;






    -webkit-appearance: none;

}








.CopyCopyslFbox0b27090e10e6f4c,
[kw].CopyCopyslFbox0b27090e10e6f4c-hover,
[kw].CopyCopyslFbox0b27090e10e6f4c-focus,
[kw].CopyCopyslFbox0b27090e10e6f4c-active {










    border: 0px solid #000000;


















    color: #000000;













    background-color: #ffffff;











}





















.CopyCopyslFbox0h4d4da20a38d49,
[kw].CopyCopyslFbox0h4d4da20a38d49-hover,
[kw].CopyCopyslFbox0h4d4da20a38d49-focus,
[kw].CopyCopyslFbox0h4d4da20a38d49-active {










    border: 1px solid rgba(51, 51, 51, 0.4);




    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
















    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);











}





















.CopyFLXFFFFFF1,
[kw].CopyFLXFFFFFF1-hover,
[kw].CopyFLXFFFFFF1-focus,
[kw].CopyFLXFFFFFF1-active {










    border: 0px solid #cccccc;


















    color: #000000;













    background-color: #ffffff;











}






















.CopyFLXSHADOW,
[kw].CopyFLXSHADOW-hover,
[kw].CopyFLXSHADOW-focus,
[kw].CopyFLXSHADOW-active {























































    background-color: #ffffff;















}





















.CopyLBL0e133e7b084af41,
[kw].CopyLBL0e133e7b084af41-hover,
[kw].CopyLBL0e133e7b084af41-focus,
[kw].CopyLBL0e133e7b084af41-active {













































    font: normal normal 14.1px Helvetica;





    color: #333333;












    background-color: rgba(0, 0, 0, 0.0);

















}





















.CopyLBLTOPSHADOW,
[kw].CopyLBLTOPSHADOW-hover,
[kw].CopyLBLTOPSHADOW-focus,
[kw].CopyLBLTOPSHADOW-active {













































    font: normal normal 32.0px Helvetica;





    color: #333333;












    background: linear-gradient(to bottom, rgba(0, 0, 255, 0.0) 0%, rgba(204, 204, 204, 0.5) 45%, #cccccc 91%);
















}





















.CopyTXT,
[kw].CopyTXT-hover,
[kw].CopyTXT-focus,
[kw].CopyTXT-active {

















































    border: 1px solid rgba(51, 51, 51, 0.4);
























    font: normal normal 14.1px Helvetica;





    color: #333333;













    background-color: #ffffff;












    -webkit-appearance: none;



}

















input[kplaceholderskin='CopyTXT']::-webkit-input-placeholder {
















































    border: 1px solid rgba(51, 51, 51, 0.4);























    font: normal normal 14.1px Helvetica;





    color: #333333;










    background-color: #ffffff;









    -webkit-appearance: none;

}


input[kplaceholderskin='CopyTXT']::-moz-placeholder {
















































    border: 1px solid rgba(51, 51, 51, 0.4);























    font: normal normal 14.1px Helvetica;





    color: #333333;










    background-color: #ffffff;









    -webkit-appearance: none;

}


input[kplaceholderskin='CopyTXT']:-ms-input-placeholder {
















































    border: 1px solid rgba(51, 51, 51, 0.4);























    font: normal normal 14.1px Helvetica;





    color: #333333;










    background-color: #ffffff;









    -webkit-appearance: none;

}








.CopyTXT1,
[kw].CopyTXT1-hover,
[kw].CopyTXT1-focus,
[kw].CopyTXT1-active {













































    font: normal normal 14.1px Helvetica;





    color: #999999;












    background-color: rgba(255, 255, 255, 0.0);












    -webkit-appearance: none;



}

















input[kplaceholderskin='CopyTXT1']::-webkit-input-placeholder {











































    font: normal normal 14.1px Helvetica;





    color: #999999;









    background-color: rgba(255, 255, 255, 0.0);









    -webkit-appearance: none;

}


input[kplaceholderskin='CopyTXT1']::-moz-placeholder {











































    font: normal normal 14.1px Helvetica;





    color: #999999;









    background-color: rgba(255, 255, 255, 0.0);









    -webkit-appearance: none;

}


input[kplaceholderskin='CopyTXT1']:-ms-input-placeholder {











































    font: normal normal 14.1px Helvetica;





    color: #999999;









    background-color: rgba(255, 255, 255, 0.0);









    -webkit-appearance: none;

}








.CopydefBtnHover0b9f73da7f06948,
[kw].CopydefBtnHover0b9f73da7f06948-hover,
[kw].CopydefBtnHover0b9f73da7f06948-focus,
[kw].CopydefBtnHover0b9f73da7f06948-active {

















































    border: 1px solid #ffffff;



    -moz-border-radius: 100px;
    border-radius: 100px;
    -webkit-border-radius: 100px;















    font: normal 500 24.0px Helvetica;





    color: #ffffff;












    background: #3d5466;
















}





















.CopydefBtnNormal0a9d15e4be87c48,
[kw].CopydefBtnNormal0a9d15e4be87c48-hover,
[kw].CopydefBtnNormal0a9d15e4be87c48-focus,
[kw].CopydefBtnNormal0a9d15e4be87c48-active {

















































    border: 1px solid #ffffff;



    -moz-border-radius: 100px;
    border-radius: 100px;
    -webkit-border-radius: 100px;















    font: normal 500 24.0px Helvetica;





    color: #ffffff;












    background: #587387;
















}





















.CopydefBtnNormal0f39bde99a20241,
[kw].CopydefBtnNormal0f39bde99a20241-hover,
[kw].CopydefBtnNormal0f39bde99a20241-focus,
[kw].CopydefBtnNormal0f39bde99a20241-active {










    border: 1px solid #ffffff;




    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
















    font: normal 500 24.0px Helvetica;





    color: #ffffff;












    background: #875858;











}





















.CopydefBtnNormal0g3fee836bd4543,
[kw].CopydefBtnNormal0g3fee836bd4543-hover,
[kw].CopydefBtnNormal0g3fee836bd4543-focus,
[kw].CopydefBtnNormal0g3fee836bd4543-active {

















































    border: 1px solid #ffffff;



    -moz-border-radius: 100px;
    border-radius: 100px;
    -webkit-border-radius: 100px;















    font: normal 500 24.0px Helvetica;





    color: #ffffff;












    background: #587387;
















}





















.CopydefLabel0a382f367ee2348,
[kw].CopydefLabel0a382f367ee2348-hover,
[kw].CopydefLabel0a382f367ee2348-focus,
[kw].CopydefLabel0a382f367ee2348-active {










    border: 7px solid #14A1DE;


















    font: normal 400 32.0px Helvetica;





    color: #212121;












    background-color: rgba(0, 0, 0, 0.0);











}





















.CopydefLabel0a3e498a8b0f741,
[kw].CopydefLabel0a3e498a8b0f741-hover,
[kw].CopydefLabel0a3e498a8b0f741-focus,
[kw].CopydefLabel0a3e498a8b0f741-active {

















































    border: 1px solid #14A1DE;
























    font: normal 400 32.0px Helvetica;





    color: #212121;












    background-color: rgba(0, 0, 0, 0.0);
















}





















.CopydefLabel0bcf7c4cf382e48,
[kw].CopydefLabel0bcf7c4cf382e48-hover,
[kw].CopydefLabel0bcf7c4cf382e48-focus,
[kw].CopydefLabel0bcf7c4cf382e48-active {

















































    border: 1px solid #14A1DE;
























    font: normal 400 32.0px Helvetica;





    color: #212121;












    background-color: rgba(0, 0, 0, 0.0);
















}





















.CopydefLabel0c1e4aa0c055d4d,
[kw].CopydefLabel0c1e4aa0c055d4d-hover,
[kw].CopydefLabel0c1e4aa0c055d4d-focus,
[kw].CopydefLabel0c1e4aa0c055d4d-active {

















































    border: 1px solid #14A1DE;
























    font: normal 400 32.0px Helvetica;





    color: #212121;












    background-color: rgba(0, 0, 0, 0.0);
















}





















.CopydefLabel0c263d6ce718b46,
[kw].CopydefLabel0c263d6ce718b46-hover,
[kw].CopydefLabel0c263d6ce718b46-focus,
[kw].CopydefLabel0c263d6ce718b46-active {

















































    border: 1px solid #14A1DE;
























    font: normal 400 32.0px Helvetica;





    color: #212121;












    background-color: rgba(0, 0, 0, 0.0);
















}





















.CopydefLabel0cb9afd4fdfd945,
[kw].CopydefLabel0cb9afd4fdfd945-hover,
[kw].CopydefLabel0cb9afd4fdfd945-focus,
[kw].CopydefLabel0cb9afd4fdfd945-active {










    border: 6px solid #14A1DE;


















    font: normal 400 32.0px Helvetica;





    color: #212121;












    background-color: rgba(0, 0, 0, 0.0);











}





















.CopydefLabel0cd87c40ac2be4e,
[kw].CopydefLabel0cd87c40ac2be4e-hover,
[kw].CopydefLabel0cd87c40ac2be4e-focus,
[kw].CopydefLabel0cd87c40ac2be4e-active {

















































    border: 1px solid #14A1DE;
























    font: normal 400 32.0px Helvetica;





    color: #212121;












    background-color: rgba(0, 0, 0, 0.0);
















}





















.CopydefLabel0d2b49bb6d7684c,
[kw].CopydefLabel0d2b49bb6d7684c-hover,
[kw].CopydefLabel0d2b49bb6d7684c-focus,
[kw].CopydefLabel0d2b49bb6d7684c-active {

















    font: normal 400 32.0px Helvetica;





    color: #212121;












    background-color: rgba(0, 0, 0, 0.0);











}





















.CopydefLabel0e55278f7cf484c,
[kw].CopydefLabel0e55278f7cf484c-hover,
[kw].CopydefLabel0e55278f7cf484c-focus,
[kw].CopydefLabel0e55278f7cf484c-active {

















    font: normal 400 32.0px Helvetica;





    color: #212121;












    background-color: rgba(0, 0, 0, 0.0);











}





















.CopydefLabel0f90d11af49bd43,
[kw].CopydefLabel0f90d11af49bd43-hover,
[kw].CopydefLabel0f90d11af49bd43-focus,
[kw].CopydefLabel0f90d11af49bd43-active {













































    font: normal bold 56.6px Helvetica;





    color: #212121;












    background-color: rgba(255, 255, 255, 0.0);
















}





















.CopydefLabel0h1461925391e41,
[kw].CopydefLabel0h1461925391e41-hover,
[kw].CopydefLabel0h1461925391e41-focus,
[kw].CopydefLabel0h1461925391e41-active {

















    font: normal 400 16.8px Helvetica;





    color: #ffffff;












    background-color: rgba(0, 0, 0, 0.0);











}





















.CopydefLabel0i61eb005354140,
[kw].CopydefLabel0i61eb005354140-hover,
[kw].CopydefLabel0i61eb005354140-focus,
[kw].CopydefLabel0i61eb005354140-active {

















    font: normal 400 32.0px Helvetica;





    color: #212121;












    background-color: rgba(0, 0, 0, 0.0);











}





















.CopydefLabel0jd69d0846deb4a,
[kw].CopydefLabel0jd69d0846deb4a-hover,
[kw].CopydefLabel0jd69d0846deb4a-focus,
[kw].CopydefLabel0jd69d0846deb4a-active {










    border: 5px solid #14A1DE;


















    font: normal 400 32.0px Helvetica;





    color: #212121;












    background-color: rgba(0, 0, 0, 0.0);











}





















.CopydefLabel0jfc9d6fab51840,
[kw].CopydefLabel0jfc9d6fab51840-hover,
[kw].CopydefLabel0jfc9d6fab51840-focus,
[kw].CopydefLabel0jfc9d6fab51840-active {

















    font: normal 400 32.0px Helvetica;





    color: #212121;












    background-color: rgba(0, 0, 0, 0.0);











}





















.CopydefTextBoxNormal0c2b422059f1746,
[kw].CopydefTextBoxNormal0c2b422059f1746-hover,
[kw].CopydefTextBoxNormal0c2b422059f1746-focus,
[kw].CopydefTextBoxNormal0c2b422059f1746-active {










    border: 1px solid #666666;




    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
















    font: italic 400 17.0px Helvetica;





    color: rgba(0, 0, 0, 0.6);













    background-color: #ffffff;









    -webkit-appearance: none;



}

















input[kplaceholderskin='CopydefTextBoxNormal0c2b422059f1746']::-webkit-input-placeholder {









    border: 1px solid #666666;




    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;















    font: italic 400 17.0px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #ffffff;






    -webkit-appearance: none;

}


input[kplaceholderskin='CopydefTextBoxNormal0c2b422059f1746']::-moz-placeholder {









    border: 1px solid #666666;




    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;















    font: italic 400 17.0px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #ffffff;






    -webkit-appearance: none;

}


input[kplaceholderskin='CopydefTextBoxNormal0c2b422059f1746']:-ms-input-placeholder {









    border: 1px solid #666666;




    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;















    font: italic 400 17.0px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #ffffff;






    -webkit-appearance: none;

}








.CopydefTextBoxNormal0e165aff13fc14c,
[kw].CopydefTextBoxNormal0e165aff13fc14c-hover,
[kw].CopydefTextBoxNormal0e165aff13fc14c-focus,
[kw].CopydefTextBoxNormal0e165aff13fc14c-active {

















































    border: 1px solid #666666;



    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-border-radius: 2px;















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);













    background-color: #ffffff;












    -webkit-appearance: none;



}

















input[kplaceholderskin='CopydefTextBoxNormal0e165aff13fc14c']::-webkit-input-placeholder {
















































    border: 1px solid #666666;



    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-border-radius: 2px;














    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #ffffff;









    -webkit-appearance: none;

}


input[kplaceholderskin='CopydefTextBoxNormal0e165aff13fc14c']::-moz-placeholder {
















































    border: 1px solid #666666;



    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-border-radius: 2px;














    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #ffffff;









    -webkit-appearance: none;

}


input[kplaceholderskin='CopydefTextBoxNormal0e165aff13fc14c']:-ms-input-placeholder {
















































    border: 1px solid #666666;



    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-border-radius: 2px;














    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #ffffff;









    -webkit-appearance: none;

}








.CopydefTextBoxNormal0e962dea6d4014a,
[kw].CopydefTextBoxNormal0e962dea6d4014a-hover,
[kw].CopydefTextBoxNormal0e962dea6d4014a-focus,
[kw].CopydefTextBoxNormal0e962dea6d4014a-active {

















































    border: 1px solid #666666;



    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-border-radius: 2px;















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);













    background-color: #ffffff;












    -webkit-appearance: none;



}

















input[kplaceholderskin='CopydefTextBoxNormal0e962dea6d4014a']::-webkit-input-placeholder {
















































    border: 1px solid #666666;



    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-border-radius: 2px;














    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #ffffff;









    -webkit-appearance: none;

}


input[kplaceholderskin='CopydefTextBoxNormal0e962dea6d4014a']::-moz-placeholder {
















































    border: 1px solid #666666;



    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-border-radius: 2px;














    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #ffffff;









    -webkit-appearance: none;

}


input[kplaceholderskin='CopydefTextBoxNormal0e962dea6d4014a']:-ms-input-placeholder {
















































    border: 1px solid #666666;



    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-border-radius: 2px;














    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #ffffff;









    -webkit-appearance: none;

}








.CopyslFbox0b60f3294f4af48,
[kw].CopyslFbox0b60f3294f4af48-hover,
[kw].CopyslFbox0b60f3294f4af48-focus,
[kw].CopyslFbox0b60f3294f4af48-active {

















































    border: 1px solid #666666;
























    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);














}





















.CopyslFbox0b95575816def48,
[kw].CopyslFbox0b95575816def48-hover,
[kw].CopyslFbox0b95575816def48-focus,
[kw].CopyslFbox0b95575816def48-active {

















































    border: 1px solid #666666;
























    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);














}





















.CopyslFbox0d01c29b9792246,
[kw].CopyslFbox0d01c29b9792246-hover,
[kw].CopyslFbox0d01c29b9792246-focus,
[kw].CopyslFbox0d01c29b9792246-active {

















































    border: 1px solid #666666;
























    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);














}





















.CopyslFbox0d8324630c75d45,
[kw].CopyslFbox0d8324630c75d45-hover,
[kw].CopyslFbox0d8324630c75d45-focus,
[kw].CopyslFbox0d8324630c75d45-active {

















































    border: 1px solid #666666;
























    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);














}





















.CopyslFbox0d837f93cdadd43,
[kw].CopyslFbox0d837f93cdadd43-hover,
[kw].CopyslFbox0d837f93cdadd43-focus,
[kw].CopyslFbox0d837f93cdadd43-active {










    border: 1px solid #666666;


















    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);











}





















.CopyslFbox0e45463efdf0147,
[kw].CopyslFbox0e45463efdf0147-hover,
[kw].CopyslFbox0e45463efdf0147-focus,
[kw].CopyslFbox0e45463efdf0147-active {

















































    border: 1px solid #666666;
























    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);














}





















.CopyslFbox0ec5bf0aadb514d,
[kw].CopyslFbox0ec5bf0aadb514d-hover,
[kw].CopyslFbox0ec5bf0aadb514d-focus,
[kw].CopyslFbox0ec5bf0aadb514d-active {

















































    border: 1px solid #666666;
























    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);














}





















.CopyslFbox0ef2986b5a6ae46,
[kw].CopyslFbox0ef2986b5a6ae46-hover,
[kw].CopyslFbox0ef2986b5a6ae46-focus,
[kw].CopyslFbox0ef2986b5a6ae46-active {

















































    border: 1px solid #666666;
























    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);














}





















.CopyslFbox0f1ec1bba91f14a,
[kw].CopyslFbox0f1ec1bba91f14a-hover,
[kw].CopyslFbox0f1ec1bba91f14a-focus,
[kw].CopyslFbox0f1ec1bba91f14a-active {










    border: 0px solid #000000;


















    color: #000000;












    background-color: rgba(237, 85, 101, 0.9);











}





















.CopyslFbox0f31333b7526c49,
[kw].CopyslFbox0f31333b7526c49-hover,
[kw].CopyslFbox0f31333b7526c49-focus,
[kw].CopyslFbox0f31333b7526c49-active {

















































    border: 1px solid #666666;
























    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);














}





















.CopyslFbox0fadc337fb8e941,
[kw].CopyslFbox0fadc337fb8e941-hover,
[kw].CopyslFbox0fadc337fb8e941-focus,
[kw].CopyslFbox0fadc337fb8e941-active {

















































    border: 1px solid #666666;
























    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);














}





















.CopyslFbox0i613f9385ae74d,
[kw].CopyslFbox0i613f9385ae74d-hover,
[kw].CopyslFbox0i613f9385ae74d-focus,
[kw].CopyslFbox0i613f9385ae74d-active {

















































    border: 1px solid #666666;
























    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);














}





















.CopyslFbox0iff35e44025244,
[kw].CopyslFbox0iff35e44025244-hover,
[kw].CopyslFbox0iff35e44025244-focus,
[kw].CopyslFbox0iff35e44025244-active {










    border: 1px solid #666666;


















    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);











}






















.CopyslForm0d0343c4f10864e,
[kw].CopyslForm0d0343c4f10864e-hover,
[kw].CopyslForm0d0343c4f10864e-focus,
[kw].CopyslForm0d0343c4f10864e-active {























































    background-color: #ffffff;














}






















.CopyslForm0h99e6a152f7a49,
[kw].CopyslForm0h99e6a152f7a49-hover,
[kw].CopyslForm0h99e6a152f7a49-focus,
[kw].CopyslForm0h99e6a152f7a49-active {























































    background-color: #ffffff;














}





















.CopyslImage0d310465f922d49,
[kw='Image2']>img.CopyslImage0d310465f922d49-active {

















































    border: 1px solid #14A1DE;
























    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);














}
























.LabelRequired,
[kw].LabelRequired-hover,
[kw].LabelRequired-focus,
[kw].LabelRequired-active {

















    font: normal 400 32.0px Helvetica;





    color: #212121;












    background-color: rgba(0, 0, 0, 0.0);











}





















.RequiredLabel,
[kw].RequiredLabel-hover,
[kw].RequiredLabel-focus,
[kw].RequiredLabel-active {










    border: 1px solid #14A1DE;


















    font: normal 400 32.0px Helvetica;





    color: #212121;












    background-color: rgba(0, 0, 0, 0.0);











}





















.defBtnBlockedUI,
[kw].defBtnBlockedUI-hover,
[kw].defBtnBlockedUI-focus,
[kw].defBtnBlockedUI-active {










    border: 1px solid #ffffff;




    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
















    font: normal 500 24.0px Helvetica;





    color: #8F8F8F;












    background: #E6E6E6;











}





















.defBtnFocus,
[kw].defBtnFocus-hover,
[kw].defBtnFocus-focus,
[kw].defBtnFocus-active {

















    font: normal 400 24.0px Helvetica;





    color: #ffffff;












    background: #6fa0f4;











}





















.defBtnHover,
[kw].defBtnHover-hover,
[kw].defBtnHover-focus,
[kw].defBtnHover-active {










    border: 1px solid #ffffff;




    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
















    font: normal 500 24.0px Helvetica;





    color: #ffffff;












    background: #3d5466;











}





















.defBtnNormal,
[kw].defBtnNormal-hover,
[kw].defBtnNormal-focus,
[kw].defBtnNormal-active {

















    font: normal 400 24.0px Helvetica;





    color: #ffffff;












    background: #4b88f1;











}





















.defBtnPressed,
[kw].defBtnPressed-hover,
[kw].defBtnPressed-focus,
[kw].defBtnPressed-active {










    border: 1px solid #ffffff;




    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
















    font: normal 500 24.0px Helvetica;





    color: #ffffff;












    background: #354958;











}





















.defDataPanelHeaderFlex,
[kw].defDataPanelHeaderFlex-hover,
[kw].defDataPanelHeaderFlex-focus,
[kw].defDataPanelHeaderFlex-active {










    border: 0px solid #000000;


















    color: #000000;













    background-color: #4d83f3;











}





















.defDataPanelLabelNormalDW,
[kw].defDataPanelLabelNormalDW-hover,
[kw].defDataPanelLabelNormalDW-focus,
[kw].defDataPanelLabelNormalDW-active {

















    font: normal 400 14.1px Helvetica;





    color: #ffffff;












    background-color: rgba(0, 0, 0, 0.0);











}





















.defDataPanelLogoutFlexDW,
[kw].defDataPanelLogoutFlexDW-hover,
[kw].defDataPanelLogoutFlexDW-focus,
[kw].defDataPanelLogoutFlexDW-active {










    border: 1px solid #2a64dc;




    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
















    color: #000000;













    background-color: #2a64dc;











}





















.defDataPanelWelcomeLblDW,
[kw].defDataPanelWelcomeLblDW-hover,
[kw].defDataPanelWelcomeLblDW-focus,
[kw].defDataPanelWelcomeLblDW-active {

















    font: normal 400 14.1px Helvetica;





    color: rgba(255, 255, 255, 0.8);












    background-color: rgba(0, 0, 0, 0.0);











}





















.defLabel,
[kw].defLabel-hover,
[kw].defLabel-focus,
[kw].defLabel-active {

















    font: normal 400 32.0px Helvetica;





    color: #333333;












    background-color: rgba(0, 0, 0, 0.0);











}





















.defTextAreaBlockedUI,
[kw].defTextAreaBlockedUI-hover,
[kw].defTextAreaBlockedUI-focus,
[kw].defTextAreaBlockedUI-active {










    border: 1px solid #ADADAD;


















    font: normal 400 17.1px Helvetica;





    color: #333333;













    background-color: #F3F3F3;









    -webkit-appearance: none;



}


















textarea[kplaceholderskin='defTextAreaBlockedUI']::-webkit-input-placeholder {









    border: 1px solid #ADADAD;

















    font: normal 400 17.1px Helvetica;





    color: #333333;










    background-color: #F3F3F3;






    -webkit-appearance: none;

}


textarea[kplaceholderskin='defTextAreaBlockedUI']::-moz-placeholder {









    border: 1px solid #ADADAD;

















    font: normal 400 17.1px Helvetica;





    color: #333333;










    background-color: #F3F3F3;






    -webkit-appearance: none;

}


textarea[kplaceholderskin='defTextAreaBlockedUI']:-ms-input-placeholder {









    border: 1px solid #ADADAD;

















    font: normal 400 17.1px Helvetica;





    color: #333333;










    background-color: #F3F3F3;






    -webkit-appearance: none;

}







.defTextAreaHover,
[kw].defTextAreaHover-hover,
[kw].defTextAreaHover-focus,
[kw].defTextAreaHover-active {










    border: 1px solid #14a1de;


















    font: normal 400 17.1px Helvetica;





    color: #333333;













    background-color: #ffffff;









    -webkit-appearance: none;



}


















textarea[kplaceholderskin='defTextAreaHover']::-webkit-input-placeholder {









    border: 1px solid #14a1de;

















    font: normal 400 17.1px Helvetica;





    color: #333333;










    background-color: #ffffff;






    -webkit-appearance: none;

}


textarea[kplaceholderskin='defTextAreaHover']::-moz-placeholder {









    border: 1px solid #14a1de;

















    font: normal 400 17.1px Helvetica;





    color: #333333;










    background-color: #ffffff;






    -webkit-appearance: none;

}


textarea[kplaceholderskin='defTextAreaHover']:-ms-input-placeholder {









    border: 1px solid #14a1de;

















    font: normal 400 17.1px Helvetica;





    color: #333333;










    background-color: #ffffff;






    -webkit-appearance: none;

}







.defTextBoxBlockedUI,
[kw].defTextBoxBlockedUI-hover,
[kw].defTextBoxBlockedUI-focus,
[kw].defTextBoxBlockedUI-active {










    border: 1px solid #666666;




    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);













    background-color: #f3f3f3;









    -webkit-appearance: none;



}

















input[kplaceholderskin='defTextBoxBlockedUI']::-webkit-input-placeholder {









    border: 1px solid #666666;




    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #f3f3f3;






    -webkit-appearance: none;

}


input[kplaceholderskin='defTextBoxBlockedUI']::-moz-placeholder {









    border: 1px solid #666666;




    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #f3f3f3;






    -webkit-appearance: none;

}


input[kplaceholderskin='defTextBoxBlockedUI']:-ms-input-placeholder {









    border: 1px solid #666666;




    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;















    font: italic 400 17.1px Helvetica;





    color: rgba(0, 0, 0, 0.6);










    background-color: #f3f3f3;






    -webkit-appearance: none;

}








.defTextBoxFocus,
[kw].defTextBoxFocus-hover,
[kw].defTextBoxFocus-focus,
[kw].defTextBoxFocus-active {










    border: 1px solid #4b88f1;


















    font: normal 400 17.1px Helvetica;





    color: #333333;













    background-color: #ffffff;









    -webkit-appearance: none;



}

















input[kplaceholderskin='defTextBoxFocus']::-webkit-input-placeholder {









    border: 1px solid #4b88f1;

















    font: normal 400 17.1px Helvetica;





    color: #333333;










    background-color: #ffffff;






    -webkit-appearance: none;

}


input[kplaceholderskin='defTextBoxFocus']::-moz-placeholder {









    border: 1px solid #4b88f1;

















    font: normal 400 17.1px Helvetica;





    color: #333333;










    background-color: #ffffff;






    -webkit-appearance: none;

}


input[kplaceholderskin='defTextBoxFocus']:-ms-input-placeholder {









    border: 1px solid #4b88f1;

















    font: normal 400 17.1px Helvetica;





    color: #333333;










    background-color: #ffffff;






    -webkit-appearance: none;

}








.defTextBoxNormal,
[kw].defTextBoxNormal-hover,
[kw].defTextBoxNormal-focus,
[kw].defTextBoxNormal-active {










    border: 1px solid #333333;


















    font: normal 400 17.1px Helvetica;





    color: #333333;













    background-color: #ffffff;









    -webkit-appearance: none;



}

















input[kplaceholderskin='defTextBoxNormal']::-webkit-input-placeholder {









    border: 1px solid #333333;

















    font: normal 400 17.1px Helvetica;





    color: #333333;










    background-color: #ffffff;






    -webkit-appearance: none;

}


input[kplaceholderskin='defTextBoxNormal']::-moz-placeholder {









    border: 1px solid #333333;

















    font: normal 400 17.1px Helvetica;





    color: #333333;










    background-color: #ffffff;






    -webkit-appearance: none;

}


input[kplaceholderskin='defTextBoxNormal']:-ms-input-placeholder {









    border: 1px solid #333333;

















    font: normal 400 17.1px Helvetica;





    color: #333333;










    background-color: #ffffff;






    -webkit-appearance: none;

}








.defTextBoxPlaceholder,
[kw].defTextBoxPlaceholder-hover,
[kw].defTextBoxPlaceholder-focus,
[kw].defTextBoxPlaceholder-active {

















    font: normal 400 17.1px Helvetica;





    color: #999999;












    background-color: rgba(255, 255, 255, 0.0);









    -webkit-appearance: none;



}

















input[kplaceholderskin='defTextBoxPlaceholder']::-webkit-input-placeholder {















    font: normal 400 17.1px Helvetica;





    color: #999999;









    background-color: rgba(255, 255, 255, 0.0);






    -webkit-appearance: none;

}


input[kplaceholderskin='defTextBoxPlaceholder']::-moz-placeholder {















    font: normal 400 17.1px Helvetica;





    color: #999999;









    background-color: rgba(255, 255, 255, 0.0);






    -webkit-appearance: none;

}


input[kplaceholderskin='defTextBoxPlaceholder']:-ms-input-placeholder {















    font: normal 400 17.1px Helvetica;





    color: #999999;









    background-color: rgba(255, 255, 255, 0.0);






    -webkit-appearance: none;

}








.sknLblDescription,
[kw].sknLblDescription-hover,
[kw].sknLblDescription-focus,
[kw].sknLblDescription-active {

















    font: normal normal 14.7px Helvetica;





    color: #575757;












    background-color: rgba(0, 0, 0, 0.0);











}





















.sknLblRowHeading,
[kw].sknLblRowHeading-hover,
[kw].sknLblRowHeading-focus,
[kw].sknLblRowHeading-active {













































    font: normal bold 17.1px Helvetica;














    background-color: rgba(0, 0, 0, 0.0);


















}





















.sknLblStrip,
[kw].sknLblStrip-hover,
[kw].sknLblStrip-focus,
[kw].sknLblStrip-active {

















    font: normal normal 11.2px Helvetica;





    color: #4b88f1;













    background-color: #4b88f1;











}





















.sknLblTimeStamp,
[kw].sknLblTimeStamp-hover,
[kw].sknLblTimeStamp-focus,
[kw].sknLblTimeStamp-active {

















    font: normal normal 14.7px Helvetica;





    color: #8e8e8e;












    background-color: rgba(0, 0, 0, 0.0);











}





















.sknSampleRowTemplate,
[kw].sknSampleRowTemplate-hover,
[kw].sknSampleRowTemplate-focus,
[kw].sknSampleRowTemplate-active {










    border: 0px solid #000000;


















    color: #000000;













    background-color: #ffffff;











}





















.sknSampleSectionHeaderTemplate,
[kw].sknSampleSectionHeaderTemplate-hover,
[kw].sknSampleSectionHeaderTemplate-focus,
[kw].sknSampleSectionHeaderTemplate-active {










    border: 0px solid #000000;


















    color: #000000;













    background-color: #ffffff;











}





















.sknSectionHeaderLabelSkin,
[kw].sknSectionHeaderLabelSkin-hover,
[kw].sknSectionHeaderLabelSkin-focus,
[kw].sknSectionHeaderLabelSkin-active {













































    font: normal bold 20.0px Helvetica;














    background-color: rgba(148, 1, 148, 0.0);


















}





















.slCalendar,
[kw].slCalendar-hover,
[kw].slCalendar-focus,
[kw].slCalendar-active {

















    font: normal 400 25.0px Helvetica;














    background-color: rgba(0, 0, 0, 0.0);









    -webkit-appearance: none;



}





















.slCameraFocus,
[kw].slCameraFocus-hover,
[kw].slCameraFocus-focus,
[kw].slCameraFocus-active {




























    background: url(../../images/camera_focus.png) no-repeat;












}





















.slDynamicNotificationForm,
[kw].slDynamicNotificationForm-hover,
[kw].slDynamicNotificationForm-focus,
[kw].slDynamicNotificationForm-active {

















    font: normal normal 16.0px Helvetica;





    color: #000000;













    background-color: #000000;











}





















.slFBlockedUIbox,
[kw].slFBlockedUIbox-hover,
[kw].slFBlockedUIbox-focus,
[kw].slFBlockedUIbox-active {










    border: 1px solid #ADADAD;


















    color: #000000;













    background-color: #f3f3f3;











}





















.slFFocusbox,
[kw].slFFocusbox-hover,
[kw].slFFocusbox-focus,
[kw].slFFocusbox-active {










    border: 1px solid #14a1de;


















    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);











}





















.slFSBlockedUIbox,
[kw].slFSBlockedUIbox-hover,
[kw].slFSBlockedUIbox-focus,
[kw].slFSBlockedUIbox-active {










    border: 1px solid #ADADAD;


















    color: #000000;













    background-color: #f3f3f3;











}





















.slFSFocusSbox,
[kw].slFSFocusSbox-hover,
[kw].slFSFocusSbox-focus,
[kw].slFSFocusSbox-active {










    border: 1px solid #14a1de;


















    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);











}





















.slFbox,
[kw].slFbox-hover,
[kw].slFbox-focus,
[kw].slFbox-active {










    border: 0px solid #000000;


















    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);











}






















.slForm,
[kw].slForm-hover,
[kw].slForm-focus,
[kw].slForm-active {



























    background-color: #ffffff;











}





















.slImage,
[kw='Image2']>img.slImage-active {










    border: 0px solid #000000;


















    color: #000000;












    background-color: rgba(0, 0, 0, 0.0);











}

























.slSplashiOS,
[kw].slSplashiOS-hover,
[kw].slSplashiOS-focus,
[kw].slSplashiOS-active {



























    background-color: #000000;











}





















.slStaticNotificationForm,
[kw].slStaticNotificationForm-hover,
[kw].slStaticNotificationForm-focus,
[kw].slStaticNotificationForm-active {

















    font: normal normal 16.0px Helvetica;





    color: #000000;













    background-color: #000000;











}





















.slTitleBar,
[kw].slTitleBar-hover,
[kw].slTitleBar-focus,
[kw].slTitleBar-active {

















    font: normal normal 16.0px System;





    color: #333333;













    background-color: #ffffff;











}






















.slWatchForm,
[kw].slWatchForm-hover,
[kw].slWatchForm-focus,
[kw].slWatchForm-active {



























    background-color: #000000;











}





















.theme_styles,
[kw].theme_styles-hover,
[kw].theme_styles-focus,
[kw].theme_styles-active {

















    font: normal normal 16.0px Helvetica;





    color: #000000;










    background: inherit;









}